{% extends "main/layout.html" %}

{% block content %}

<div class="container-fluid text-center">
  <h1>
      Do you know </br>
      </br>
      Everyone on earth will at some point acquire some disability in our lives. </br>
      </br>
  There are 13 millions in the UK and 1 billion in the world are disabled, and growing as a result of aging population </br>
  </br>
  At MovAbility, your disability does not limit your Ability to live an independent life. We are dedicated to transform accessible travel and empower your accessible travel using Big Data. </br>
  </br>
  </h1>
</div>

<div class="container-fluid text-center">
  Some good images too
</div>

{% endblock %}
