{% extends "main/layout.html" %}
{% load static %}
{% load staticfiles %}

{% block title %} Map {% endblock %}
{% block head %}

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block scripts %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
<script src="{% static 'js/mapSetup.js' %}"></script>
<script src="{% static 'js/htmlgeoloc.js' %}"></script>
{% endblock %}

<script>

console.log("script loaded");
var currentLocation;
var map;

function loaded() {
    /*
    fetch(
          "http://127.0.0.1:8000/apicall/",
          {
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify({
              lat: 51.51520420713295,
              lng: -0.12958518467630434
            })
          }
      ).then(
        function(e) {
            console.log(e);
            return true;
        }
    );
    */
    var locationPromise = getLocation();
    locationPromise
      .then(function(loc) { console.log(loc); currentLocation = loc; map = setupMap(loc); mainLoop();})
      .catch(function(err) { console.log(err); });
}
function mainLoop() {
    var interval = setInterval(() => {
        //map.setZoom(10);
    }, 100);
}
window.onload = loaded();

</script>

{% block content %}
<div id='map'></div>
{% endblock %}
