@import url('https://fonts.googleapis.com/css?family=Gothic+A1&display=swap');

html, body {
    margin: 0;
}

img {
height:50%;
width: 50%;
  align: top;
}

* {
    font-family: 'Gothic A1', sans-serif;
}

body {
    background-color: #F8F8FF;
}

button {
  background-color: teal;
}

#map {
    position:absolute;
    top:100px;
    bottom:0;
    width:100%;
}

#top {
    width: 100%;
    height: 70px;
    background-color: #DCDCDC;
}

#top-menu {
    width: 100%;
    height: 30px;
    background-color: #DCDCDC;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 30px;
}

.right {
  float: right;
  width: 300px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
}

.top-menu-item {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    width: max-content;
    margin-right: 20px;
    margin-left: 20px;
    height: 36px;
    line-height: 30px;
    text-transform: uppercase;
}

.top-nav {
  margin-top: 20px;
  text-align: center;
}

.text-center {
  text-align: center;
}

.marker {
    background-image: url('../marker.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.start {
  background-image: url('../car@2x.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.destination {
  background-image: url('../Group751@2x.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.park {
  background-image: url('../Group750@2x.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
